<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skitchina.mapper.ClientWaybillMapper">
    <select id="getClientWaybill" resultType="com.skitchina.model.ClientWaybill" parameterType="java.util.Map">
        SELECT * FROM clientwaybill
    </select>
</mapper>